.Header {
  background: #003399;
  color: white;
  border-bottom: 3px solid white;
  box-shadow: 0 16px 0 black;
  transform: rotateZ(8deg) skew(-2deg, -10deg) translateY(-10%);
  margin: 50px;
}

.Header__body {
  display: flex;
  align-items: center;
}

.Header__title {
  flex: 1;
  padding: 20px 0;
  font-family: 'Londrina Solid', cursive;

  a {
    font-size: 3.5em;
    font-weight: bold;
    position: relative;
    color: white;
    text-decoration: none;
    display: block;
    padding: 2px;

  }
}

.Header__summary {
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    animation: glowy-text 4s infinite;
  }
}

.Header__summary__line {
  font-size: 1.12em;
}

@keyframes glowy-text {
  0% {
    color: white;
  }
  100% {
    color: gold;
  }
}
